<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form</title>
    </head>

    <body>
        <a href="/">回到首頁</a>
        <form method="POST" action="/store_data">
            <label for="usr_title">請輸入用戶名稱：</label>
            <input type="text" placeholder="用戶名稱" name="username"><br>
            <label for="pwd_title">請輸入用戶密碼：</label>
            <input type="password" placeholder="用戶密碼" name="password"><br>
            <input type="submit">
        </form>
    </body>

</html>